
.specialists__item-custom {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.slider-btns {
  display: flex;
  justify-content: center;
}

.slider-btns .slider-btn {
  display: grid !important; 
  justify-content: center;
  align-items: center;
}

.slider-btns .slider-btn svg path{
  transition: all .3s;
}

.doctor__link {
  max-width: max-content;
  max-height: 32px;
}
.doctor__link::after {
  bottom: 0;
}

.benefits-list__item, .specialists__item {
  margin: 0;
}

.slick-track {
  cursor: pointer;
}

/*! [js-lazy] style block*/
[js-lazy].had-loaded::after {
  display: none
}
[js-lazy].had-loaded::before {
  display: none
}
[js-lazy].had-loaded {
  color: #000000
}

[js-lazy] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
[js-lazy].is-loaded {
  overflow: unset;
}
[js-lazy].is-loaded::before {
  visibility: hidden;
  opacity: 0;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
[js-lazy].is-loaded::after {
  visibility: hidden;
  opacity: 0;
}
[js-lazy].is-loaded img {
  opacity: 1;
}
[js-lazy] img[srcset] {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
[js-lazy] img[srcset].is-loaded {
  opacity: 1;
}
[js-lazy]::after {
  top: 0;
  left: 0;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: inherit;
  z-index: 1;
  -webkit-transition: opacity 0.2s, visibility 0s 0.31s;
  transition: opacity 0.2s, visibility 0s 0.31s;
}
[js-lazy]::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  right: 100%;
  top: 0;
  -webkit-animation: 3s ease infinite;
  animation: 3s ease infinite;
  -webkit-animation-name: running-gradient;
  animation-name: running-gradient;
  opacity: 0.4;
  -webkit-transition: opacity 0.2s, visibility 0s 0.31s;
  transition: opacity 0.2s, visibility 0s 0.31s;
}
[js-lazy][data-ll-status=loaded] {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
[js-lazy][data-ll-status=loaded] img {
  opacity: 1;
}

/*! [js-lazy] style block*/
.img-wrapper.had-loaded::before {
  display: block;
  position: absolute;
  z-index: 1;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: aCalc(370);
  opacity: 0.6;
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.00) 0%, rgba(20, 20, 20, 0.60) 82.8%);
}

@media (max-width: 768px) {
  .img-wrapper.had-loaded::before {
    height: 278px;
  }
}

.specialists__item-custom {
 z-index: 10;
}

.photos__slider:not(.slick-initialized) {
  display: flex;
  justify-content: flex-start;
  gap: calc(16px);
}
@media (max-width: 768px) {
  .photos__slider:not(.slick-initialized) { 
    gap: 16px;
  }
} 

.slides:not(.slick-initialized) .slides__item-block:nth-child(n + 2){
  display: none !important;
}
.slides:not(.slick-initialized) .slides__item-block img {
  width: calc(512px);
}

@media (max-width: 768px) {
  .slides:not(.slick-initialized) .slides__item-block img {
    width: 370px;
  }
}